<div class="footer">
  <div class="foot-inn">
    <h3>info</h3>
    <p>alpesh painting
      Rai's paradise 704
      shankar pavshe rd kalyan (e)
    </p>
    <p>phone 7208224246</p>
  </div>
  <div class="foot-inn">
    <h3>POPULAR BRANDS</h3>
    <p>ofs</p>
    <p> saga forms</p>
    <p>common good</p>
    <p>view all</p>

  </div>
  <div class="foot-inn">
    <h3>NAVIGATE</h3>
    <p>Shipping & Returns</p>
    <p>Contact us</p>
    <p>Blog</p>
    <p>site map</p>

  </div>
  <div class="foot-inn">
    <h3>CATEGORIES</h3>
    <p>Sketches</p>
    <p>Portrait</p>
    <p>Wall Painting</p>
    <p>Canvas</p>
    <p></p>
    <p></p>

  </div>
</div>
