<div class="mid-top">
  <h2>NEW PRODUCTS</h2>

  <div class="mid-links">
    <p>featured</p>
    <p>best seller</p>
    <p>Latest</p>
  </div>
  <div class="card-line">
    <div class="card">
      <img src="../../assets/sadhu.jpeg" alt="">
      <p>Elephants in grass with his baby</p>


    </div>
    <div class="card">
      <img src="../../assets/child.jpeg" alt="">
      <p> Baby</p>

    </div>

    <div class="card">
      <img src="../../assets/newchild.jpeg" alt="">
      <p>vadya</p>

    </div>

  </div>

</div>
