<div class="login-body">
    <div class="login-top">
        <p>Home/ <span class="login-span">Signup</span> </p>
    </div>
    <p class="signin"> New Account</p>
    <div class="signup-main" style="position: relative;">
        <form [formGroup]="signupForm" (ngSubmit)="OnSubmit(signupForm)">
            <label for="login">
                <p class="input-title">Email Address:</p>
                <input class="input-box" [formControlName]="'email'" type="email" required email
                    [ngClass]="{'invalid-border':borderCheck('email') }" id="login">
                <p *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched && !signupForm.get('email')?.value"
                    class="validation invalid-color">Please
                    use a valid email
                    address,
                    such as
                    user@example.com.
                </p>
                <p *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.value"
                    class="validation invalid-color">Please
                    Email already exists
                </p>
            </label>
            <label for="password">
                <p class="input-title">Password:</p>
                <input [ngClass]="{'invalid-border':borderCheck('password') }" class="input-box"
                    [formControlName]="'password'" required type="password" id="password">
                <p *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched"
                    class="validation invalid-color">Password is Compulsory
                </p>
            </label>
            <label for="username">
                <p class="input-title">Username:</p>
                <input class="input-box" type="text" [formControlName]="'username'"
                    [ngClass]="{'invalid-border':borderCheck('username') }" required id="username">
                <p *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched && !signupForm.get('username')?.value"
                    class="validation invalid-color">
                    Username is Compulsory
                </p>
                <p *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.value"
                    class="validation invalid-color">Please
                    Username already exists
                </p>
            </label>
            <label for="fName">
                <p class="input-title">First Name:</p>
                <input [formControlName]="'fName'" class="input-box" type="text" id="fName">
            </label>
            <label for="lName">
                <p class="input-title">Last Name:</p>
                <input [formControlName]="'lName'" class="input-box" type="text" id="lName">
            </label>
            <label for="cName">
                <p class="input-title">Company name:</p>
                <input [formControlName]="'cName'" class="input-box" type="text" id="cName">
            </label>
            <label for="phone">
                <p class="input-title">Phone Number:</p>
                <input [formControlName]="'phone'" [ngClass]="{'invalid-border':borderCheck('phone') }"
                    class="input-box" type="text" id="phone" required>
                <p *ngIf="signupForm.get('phone')?.invalid && signupForm.get('phone')?.touched"
                    class="validation invalid-color">
                    Phone Number is Compulsory
                </p>
            </label>
            <label for="alternatePhone">
                <p class="input-title">Alternate Phone Number:</p>
                <input [formControlName]="'alternatePhone'" class="input-box" type="text" id="alternatePhone">
            </label>
            <label for="address1">
                <p class="input-title">Address Line1*:</p>
                <input [formControlName]="'address1'" class="input-box" type="text" id="address1">
            </label>
            <label for="address2">
                <p class="input-title">Address Line2:</p>
                <input [formControlName]="'address2'" class="input-box" type="text" id="address2">
            </label>
            <label for="state">
                <p class="input-title">State:</p>
                <input [formControlName]="'state'" [ngClass]="{'invalid-border':borderCheck('state') }"
                    class="input-box" type="text" id="state" required>
                <p *ngIf="signupForm.get('state')?.invalid && signupForm.get('state')?.touched"
                    class="validation invalid-color">
                    State is Compulsory
                </p>
            </label>
            <label for="code">
                <p class="input-title">Zip/Postcode*:</p>
                <input [formControlName]="'code'" class="input-box" type="email" id="code"
                    [ngClass]="{'invalid-border':borderCheck('code') }" required>
                <p *ngIf="signupForm.get('code')?.invalid && signupForm.get('code')?.touched"
                    class="validation invalid-color">
                    Zipcode is Compulsory
                </p>
            </label>

            <button [disabled]="signupForm.invalid" class="top-btn" style="margin-bottom: 40px">Register</button>
        </form>
    </div>
</div>